@model u18043624_HW06.Models.ProductsCRUDClass

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Product Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Name : @Html.EditorFor(model=>model.product_name)
                    Brand : @Html.EditorFor(model=>model.brand_id)
                    Category : @Html.EditorFor(model => model.category_id)
                    Year : @Html.EditorFor(model => model.model_year)
                    Price : @Html.EditorFor(model => model.list_price)
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function savedetails() {
        var product_id = $('#product_id').val();
        var product_id = $('#product_id').val();
        var product_id = $('#product_id').val();
        var product_id = $('#product_id').val();
    }
</script>
