@model u18043624_HW06.Models.product

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top"><b>@Html.DisplayNameFor(model => model.product_name):</b></td>
        <td>
            @Html.DisplayFor(model => model.product_name))
            <br />
            @Html.DisplayFor(model => model.product_name)),
            @Html.DisplayFor(model => model.list_price)
            <br />
            @Html.DisplayFor(model => model.brand.brand_name)
        </td>
    </tr>
</table>